[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '2.7'


[dev-packages]

ipython = "*"

# DotStar -> use emulator on x86 platforms (dev environments)
# CAUTION: the markers spec doesn't work when in the main [packages] section
# because it doesn't mark DotStar-Emulator's dependencies with the platform
# marker, and they fail to install on ARM
DotStar-Emulator = {version = "*", markers = "platform_machine == 'x86_64'"}


[packages]

enum34 = "*"

# DotStar -> use Adafruit lib on ARM platforms
# Resin.io build servers == 'armv8l' / Pi == 'armv6l'
dotstar = {path = "vendor/Adafruit_DotStar_Pi", markers = "platform_machine == 'armv6l' or platform_machine == 'armv8l'"}
