[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '2.7'


[dev-packages]

ipython = "*"


[packages]

enum34 = "*"

# DotStar -> use Adafruit lib on ARM platforms
# Resin.io build servers == 'armv8l' / Pi == 'armv6l'
dotstar = {path = "vendor/Adafruit_DotStar_Pi", markers = "platform_machine == 'armv6l' or platform_machine == 'armv8l'"}
# DotStar -> use emulator on x86 platforms
DotStar-Emulator = {version = "*", markers = "platform_machine == 'x86_64'"}
