# --- Main app dependencies ---
# -- PyPI dependencies --

# -- Local vendored dependencies --
# Don't use Adafruit DotStar lib for local dev -> only works on Pi
# vendor/Adafruit_DotStar_Pi

# --- Local dev dependencies ---
# -- PyPI dependencies --
# DotStar_Emulator~=0.2
DotStar-Emulator==0.2
blinker==1.4
olefile==0.44
Pillow==4.3.0
pygame==1.9.3
six==1.11.0

# ipython
ipython==5.5.0
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.1.2
enum34==1.1.6
ipython-genutils==0.2.0
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
scandir==1.6
simplegeneric==0.8.1
traitlets==4.3.2
wcwidth==0.1.7
